translations/*.qm
*.o
*.orig
*.rej
*.exe
*.dmg
*.patch
*.xml
ssrf-version.h
!dives/*.xml
*~
po/*.mo
/subsurface
/*.tar.gz
share/
Documentation/docbook-xsl.css
Documentation/user-manual*.html
Documentation/user-manual*.pdf
Documentation/user-manual*.text
packaging/windows/subsurface.nsi
packaging/macos/Info.plist
*.kdev4
callgrind.out.*
.gitignore
build/
.rcc
.moc
.uic
.obj
Makefile
subsurface.pro.user*
Subsurface.app
.DS_Store
!android/**/*.xml
