translations/*.qm
*.o
*.orig
*.rej
*.exe
*.dmg
*.patch
*.xml
ssrf-version.h
!dives/*.xml
*~
po/*.mo
/subsurface
/*.tar.gz
share/
Documentation/docbook-xsl.css
Documentation/user-manual*.html
Documentation/user-manual*.pdf
Documentation/user-manual*.text
Documentation/mobile-images/mobile-images
packaging/windows/subsurface.nsi
packaging/macos/Info.plist
*.kdev4
callgrind.out.*
.gitignore
build*/
.rcc
.moc
.uic
.obj
Makefile
subsurface.pro.user*
Subsurface-mobile.pro.user*
Subsurface.app
.DS_Store
!android/**/*.xml
build*
nightly-builds/
mobile-widgets/qml/kirigami
mobile-widgets/3rdparty/ECM/
mobile-widgets/3rdparty/breeze-icons/
mobile-widgets/3rdparty/extra-cmake-modules/
mobile-widgets/3rdparty/kirigami/
packaging/ios/install-root
packaging/ios/Info.plist
packaging/ios/Qt
packaging/ios/asset_catalog_compiler.Info.plist
appdata/subsurface.appdata.xml
android-mobile/Roboto-Regular.ttf
gh_release_notes.md
release_content_title.txt
