*.o
*.orig
*.rej
*.exe
*.dmg
*.moc
*.moc.cpp
*.patch
*.ui.h
*.xml
version.h
!dives/*.xml
*~
po/*.mo
qt-ui/ui_*.h
/subsurface
/*.tar.gz
.dep/
share/
Documentation/docbook-xsl.css
Documentation/user-manual.html
Documentation/user-manual.pdf
Documentation/user-manual.text
packaging/windows/subsurface.nsi
packaging/macos/Info.plist
config.cache
*.qrc.cpp
/subsurface.config
/subsurface.creator
/subsurface.creator.user
/subsurface.files
/subsurface.includes
