<olteanu.claudiu@ymail.com> <olteanu.vasilica.claudiu@gmail.com>
<danilo.eu@gmail.com> <danilo.cesar@collabora.co.uk>
<dirk@hohndel.org> <dhohndel@dhohndel-mac02.jf.intel.com>
<dirk@hohndel.org> <hohndel@mail.gr8dns.org>
Dirk Hohndel <dirk@hohndel.org> Dirk Hohndel (Intel) <dhohndel@dhohndel-mac02.jf.intel.com>
Dirk Hohndel <dirk@hohndel.org> Subsurface <dirk@subsurface-divelog.org>
Dirk Hohndel <dirk@hohndel.org> Subsurface CI <dirk@hohndel.org>
<guido.lerch@gmail.com> <glerch@Guidos-MacBook-Air.local>
<jacco.van.koll@gmail.com> <jko@haringstad.com>
<jlmulder@xs4all.nl> <jlmulder@planet.nl>
<jef@libdivecomputer.org> <jefdriesen@telenet.be>
<j.bygdell@gmail.com> <narogh@Qutie.local>
<karent.bug@gmail.com> <k.arentowicz@gmail.com>
<me@bearsh.org> <m.gysel@consonics.ch>
<miika.turkia@gmail.com> <miika.turkia@nixu.fi>
Robert C. Helling <helling@atdotde.de>
Robert C. Helling <helling@atdotde.de> Robert.Helling <helling@atdotde.de>
Robert C. Helling <helling@atdotde.de> Robert.Helling <Helling@th-nb-tmpmbp05.fritz.box>
Robert C. Helling <helling@atdotde.de> Robert C. Helling <robert@thetheoreticaldiver.org>
Robert C. Helling <helling@atdotde.de> Robert C. Helling <helling@lmu.de>
Robert C. Helling <helling@atdotde.de> Robert Helling <helling@lmu.de>
<sander@myowndomain.nl> <sander.kleywegt@netscout.com>
<tim@tee-jay.demon.co.uk> <tim@tee-jay.org.uk>
<tim@tee-jay.demon.co.uk> <timw00.tw@googlemail.com>
<tomaz.canabrava@intel.com> <tcanabrava@kde.org>
<tomaz.canabrava@intel.com> <tomaz.canabrava@gmail.com>
<tomaz.canabrava@intel.com> <tomazcanabrava@Tomazs-MacBook-Pro.local>
Willem Ferguson <willemferguson@zoology.up.ac.za>
<willemferguson@zoology.up.ac.za> <fergusonwillem@gmail.com>
<willemferguson@zoology.up.ac.za> <willem@localhost.localdomain>
<willemferguson@zoology.up.ac.za> <willem@willem-Precision-M4700.(none)>
<willemferguson@zoology.up.ac.za> <fergusonwillem@gmail.com>
<jan@casacondor.com> <jani@libreoffice.org>
<jan@casacondor.com> <jani@apache.org>
<jan@casacondor.com> <jancasacondor@gmail.com>
jan Iversen <jan@casacondor.com> jan iversen <jani@apache.org>
Gehad Elrobey <gehadelrobey@gmail.com> <gehadelrobey@gmail.com>
Joseph W. Joshua <joejoshw@gmail.com> <joejoshw@gmail.com>
Joseph W. Joshua <joejoshw@gmail.com> <joshua@megvel.me.ke>
Luisa Pires <luisapiresdesign@gmail.com> <luisapiresdesign@gmail.com>
Pedro Neves <nevesdiver@gmail.com> <nevesdiver@gmail.com>
Salvo 'LtWorf' Tomaselli <tiposchi@tiscali.it> <tiposchi@tiscali.it>
Benjamin Fogel <nystire@gmail.com> <nystire@gmail.com>
Guido Lerch <guido.lerch@gmail.com> <guido.lerch@gmail.com>
Guido Lerch <guido.lerch@gmail.com> <glerch@Guidos-MacBook-Air.local>
Joakim Bygdell <j.bygdell@gmail.com> <j.bygdell@gmail.com>

