[Desktop Entry]
Type=Application
Name=subsurface
GenericName=dive log program
Comment=manage and display dive computer data
Icon=subsurface-icon
Exec=subsurface
Terminal=false
Categories=Utility;
Keywords=dive;log;divelog;divecomputer;dives;computer

