Source: subsurface
Priority: optional
Maintainer: Roland Dreier <roland@digitalvampire.org>
Build-Depends: autoconf, automake, libtool, debhelper (>= 8), dh-autoreconf,
 pkg-config, libgtk2.0-dev, libgconf2-dev, libxml2-dev, libdivecomputer-dev
Standards-Version: 3.9.2
Section: utils
Homepage: http://subsurface.hohndel.org

Package: subsurface
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple dive log program written in C
 Subsurface is a simple dive log program written in C.
