1 VERSIONINFO
FILEVERSION     1,1,0,0
PRODUCTVERSION  1,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "subsurface team"
      VALUE "FileDescription", "subsurface dive log"
      VALUE "FileVersion", "1.1"
      VALUE "InternalName", "subsurface"
      VALUE "LegalCopyright", "Linus Torvalds, Dirk Hohndel and others"
      VALUE "OriginalFilename", "subsurface.exe"
      VALUE "ProductName", "subsurface"
      VALUE "ProductVersion", "1.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
ID ICON "subsurface.ico"