body{
	min-width:680px;
	background-color:#dfdfdf;
	font-size:12px;
	font-family: 'Lobster', helvetica, arial;
	visibility: hidden;
}

h1 {
	text-align: center;
	font-size: 70px;
	margin-top: 0;
	font-family: 'Lobster', helvetica, arial;
	text-decoration: none;
	color: #48697B;
	padding-top:30px;
}

ul{
	background-color:#7899AB;
}

table{
	margin:10px;
	font-size:inherit;
}

tr{
	padding:6px;
}

th{
	padding:4px;
}

.trips{
	background-color:#5A7F9A;
}

.words{
	font-size:inherit;
	font-weight:bold;
	padding-right:25px;
}

.item{
	width:9%;
	min-width:82px;
	max-width:250px;
	float:left;
	cursor:pointer;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.item_large{
	width:16%;
	min-width:200px;
	max-width:385px;
	margin-right:8px;
	float:left;
	cursor:pointer;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

#logo{
	width: 150px;
	height: 150px;
	background-image: url("poster.png");
	background-size: 150px 150px;
	background-repeat: no-repeat;
	float:left;
}

#header_container{
	width:600px;
	height:auto;
	margin:50px;
	margin-bottom:100px;
}



ul,#header{
	border-style:solid;
	border-radius:14px;
	border-color:#7899AB;
	margin:7px;
	padding:5px 10px 5px 10px;
}

input[type=checkbox]{
	height:27;
	width:27;
	margin:4px;
}

#advanced_search{
	position: absolute;
    box-shadow: 1px 1px 5px #888888;
	z-index: 99;
	width: 300px;
	max-width: 30%;
	min-width: 270px;
	background-color: rgba(105,126,131,0.8);
	font-size:16px;
	color:white;
	display:none;
	max-height:40%;
	overflow:scroll;
	overflow-y:auto;
	overflow-x:hidden;
}

#toolbox{
	float:right;
	height:35px;
	overflow:hidden;
	display:block;
}

#header{
	height:20px;
	background-color:#5f7f8f;
	border-color:#5f7f8f;
	font-weight:bold;
}

#controller{
	min-width:200px;
	padding:10px;
}

#divePanel{
	padding:5px;
	width:90%;
	margin:0% 5% 0% 5%;
	margin-bottom:50px;
	background-color: rgba(88,121,139,0.3);
	box-shadow: 10px 10px 5px #888888;
}

#diveStat{
	padding:5px;
	width:90%;
	margin:0% 5% 0% 5%;
	margin-bottom:50px;
	background-color: rgba(88,121,139,0.3);
	box-shadow: 10px 10px 5px #888888;
}

#diveStatsData{
	overflow:scroll;
	overflow-y:hidden;
}

.statscell{
	min-width:120px;
	height: 25px;
	margin:0px;
	text-align:center;
}

.stats_row{
	background-color:rgba(125,125,125,0.3);
}

#stats_header{
	background-color:#5f7f8f;
}


button,#no_dives_selector{
	font-size:13px;
	min-width:55px;
	line-height:2;
	margin:0px 0px 0px 0px;
	border-radius:10px;
	opacity:0.6;
	border-style:outset;
	border-color:black;
}

#no_dives_selector{
	padding:5px;
	text-indent: 0.01px;
	text-overflow: '';
}

button:hover{
	background-color:#4A5F5F;
}

a:hover{
	cursor: pointer;
	text-decoration:underline;
}

ul:hover{
	background-color:#88A9BB;
}

#search_res{
	font-size:0.6em;
	visibility:hidden;
}

#search_input{
	border-radius:6px;
	max-width:30%;
	padding:3px;
	opacity:0.6;
	margin: 0px 5px 5px 5px;
	border-style:outset;
	border-color:black;
}

#controlbox{
	margin:7px;
	margin-bottom:10px;
}

#profileCanvas{
	border:1px solid #d3d3d3;
	width:98%;
	margin:1%;
	height:300px;
}

#diveListPanel{
	padding:5px;
	width:90%;
	margin:0% 5% 0% 5%;
	margin-bottom:50px;
	background-color: rgba(88,121,139,0.3);
	box-shadow: 10px 10px 5px #888888;
}

#slider_container{
	height:240px;
	margin-bottom:20px;
}

#slider{
	float:left;
	width:80%;
	min-width:350px;
	height:240px;
	border-style:solid;
	overflow:hidden;
}

.Cyl{
	padding-right:25px;
}

.det_hed{
	background-color:#5f7f8f;
	padding:3px;
}

@media (max-width: 768px) {
	#divePanel{
		padding:4px;
		width:100%;
		margin:0% 0% 0% 0%;
	}
}
