 QTableView {
     show-decoration-selected: 1;
 }

 QTableView::item {
     border: 1px solid #d9d9d9;
     border-top-color: transparent;
     border-bottom-color: transparent;
     padding: 2px;
 }

 QTableView::item:hover {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e7effd, stop: 1 #cbdaf1);
     border: 1px solid #bfcde4;
 }

 QTableView::item:selected {
     border: 1px solid #567dbc;
 }

 QTableView::item:selected:active{
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6ea1f1, stop: 1 #567dbc);
 }

 QTableView::item:selected:!active {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);
 }

