/*
 * compact_subsurface.css, a special style sheet for Subsurface,
 *  modified by Willem Ferguson and derived from:
 *		compact.css, version 1.3 by Alex Efros <powerman@powerman.name>
 * Licence: Public Domain
 *
 * Usage: asciidoc -a theme=compact_subsurface ...
 */

*   { padding: 0;  margin: 0; }
img { border: 0; margin: 15px; max-width:90% }

/*** Layout ***/

body                        { margin: 10px 20px; }
#header br                  { display: none; }
#revnumber                  { display: block; }
#toc                        { margin: 1em 0; }
.toclevel2                  { margin-left: 1em; }
.toclevel3		    { margin-left: 2em; }
#footer                     { margin-top: 2em; }

#preamble .sectionbody,
h2,
h3,
h4,
h5                          { margin: 1em 0 0 0; }

.admonitionblock,
.listingblock,
.sidebarblock,
.exampleblock,
.tableblock,
.literalblock               { margin: 1em 0; }
.admonitionblock td.icon    { padding-right: 0.5em; }
.admonitionblock td.content { padding-left:  0.5em; }
.listingblock .content      { padding: 0.5em; }
.sidebarblock > .content    { padding: 0.5em; }
.exampleblock > .content    { padding: 0 0.5em; }
.tableblock caption         { padding: 0 0 0.5em 0; }
.tableblock thead th,
.tableblock tbody td,
.tableblock tfoot td        { padding: 0 0.5em; }
.quoteblock                 { padding: 0 2.0em; }

.paragraph                  { margin: 1em 0 0 0; }
.sidebarblock .paragraph:first-child,
.exampleblock .paragraph:first-child,
.admonitionblock .paragraph:first-child  { margin: 0; }

   .ulist,    .olist,    .dlist,    .hdlist,    .qlist   { margin: 1em 0; }
li .ulist, li .olist, li .dlist, li .hdlist, li .qlist,
dd .ulist, dd .olist, dd .dlist, dd .hdlist, dd .qlist   { margin: 0; }
ul                          { margin-left: 1.5em; }
ol                          { margin-left: 2em; }
dd                          { margin-left: 3em; }
td.hdlist1                  { padding-right: 1em; }

/*** Fonts ***/

body                        { font-family: Verdana, sans-serif; }
#header                     { font-family: Arial,   sans-serif; }
#header h1                  { font-family: Arial,   sans-serif; }
#footer                     { font-family: Georgia, serif;      }
#email                      { font-size: 0.85em; }
#revnumber                  { font-size: 0.75em; }
#toc                        { font-size: 0.9em;  }
#toctitle                   { font-weight: bold; }
#footer                     { font-size: 0.8em; }

h2, h3, h4, h5, .title      { font-family: Arial,   sans-serif; }
h2                          { font-size: 160%; }
.sectionbody                { font-size: 0.85em; }
.sectionbody .sectionbody   { font-size: inherit; }
h3                          { font-size: 150%; } /* 1.35em */
h4                          { font-size: 140%; } /* 1.2em */
h5                          { font-size: 130%; } /* 1em */
.title                      { font-size: 106%;   /* 0.9em */
			      font-weight: bold;
			    }

tt, .monospaced             { font-family: monospace; font-size: 106%; } /* 0.9em */
dt, td.hdlist1, .qlist em   { font-family: Times New Roman, serif;
			      font-size: 118%;   /* 1em */
			      font-style: italic;
			    }
.tableblock tfoot td        { font-weight: bold; }

/*** Colors and Backgrounds ***/

h1                          { color: #527bbd; border-bottom: 2px solid silver; }
#footer                     {                 border-top:    2px solid silver; }

h2                          { color: #527bbd; border-bottom: 2px solid silver; }
h3                          { color: #5D7EAE; border-bottom: 2px solid silver; }
h3                          { display: inline-block; }
h4,h5                       { color: #5D7EAE; }

.admonitionblock td.content { border-left: 2px solid silver; }
.listingblock .content      { background: #f4f4f4;   border: 1px solid silver; border-left: 5px solid #e0e0e0; }
.sidebarblock > .content    { background: #ffffee;   border: 1px solid silver; border-left: 5px solid #e0e0e0; }
.exampleblock > .content    {                   border-left: 2px solid silver; }
.quoteblock                 {                   border-left: 5px solid #e0e0e0; }
.tableblock table {
    border-collapse: collapse;
    border-width: 3px;
    border-color: #527bbd;
}
.tableblock table[frame=hsides] { border-style: solid none; }
.tableblock table[frame=border] { border-style: solid;      }
.tableblock table[frame=void]   { border-style: none;       }
.tableblock table[frame=vsides] { border-style: none solid; }
.tableblock table[rules=all] tbody tr *,
.tableblock table[rules=rows] tbody tr * {
    border-top: 1px solid #527bbd;
}
.tableblock table[rules=all] tr *,
.tableblock table[rules=cols] tr * {
    border-left: 1px solid #527bbd;
}
.tableblock table tbody tr:first-child * {
    border-top: 1px solid white; /* none don't work here... %-[] */
}
.tableblock table tr *:first-child {
    border-left: none;
}
.tableblock table[frame] thead tr *,
.tableblock table[frame] thead tr * {
    border-top: 1px solid white;
    border-bottom: 2px solid #527bbd;
}
.tableblock table tr td p.table,
.tableblock table tr td p.table * {
    border: 0px;
}

tt, .monospaced             { color: navy; }

li                          { color: #a0a0a0; }
li > *                      { color: black; }

span.aqua { color: aqua; }
span.black { color: black; }
span.blue { color: blue; }
span.fuchsia { color: fuchsia; }
span.gray { color: gray; }
span.green { color: green; }
span.lime { color: lime; }
span.maroon { color: maroon; }
span.navy { color: navy; }
span.olive { color: olive; }
span.purple { color: purple; }
span.red { color: red; }
span.silver { color: silver; }
span.teal { color: teal; }
span.white { color: white; }
span.yellow { color: yellow; }

span.aqua-background { background: aqua; }
span.black-background { background: black; }
span.blue-background { background: blue; }
span.fuchsia-background { background: fuchsia; }
span.gray-background { background: gray; }
span.green-background { background: green; }
span.lime-background { background: lime; }
span.maroon-background { background: maroon; }
span.navy-background { background: navy; }
span.olive-background { background: olive; }
span.purple-background { background: purple; }
span.red-background { background: red; }
span.silver-background { background: silver; }
span.teal-background { background: teal; }
span.white-background { background: white; }
span.yellow-background { background: yellow; }

span.big { font-size: 2em; }
span.small { font-size: 0.6em; }

span.underline { text-decoration: underline; }
span.overline { text-decoration: overline; }
span.line-through { text-decoration: line-through; }

/*** Misc ***/

.admonitionblock td.icon    { vertical-align: top; }
.attribution                { text-align: right; }

ul                          { list-style-type: disc; }
ol.arabic                   { list-style-type: decimal; }
ol.loweralpha               { list-style-type: lower-alpha; }
ol.upperalpha               { list-style-type: upper-alpha; }
ol.lowerroman               { list-style-type: lower-roman; }
ol.upperroman               { list-style-type: upper-roman; }
.hdlist td                  { vertical-align: top; }
