name: Debian trixie / Qt 6

on:
  push:
    paths-ignore:
    - scripts/docker/**
    branches:
    - master
  pull_request:
    paths-ignore:
    - scripts/docker/**
    branches:
    - master
  workflow_dispatch:

jobs:
  do-build-test:
    uses: ./.github/workflows/linux-debian-generic-qt6.yml
    with:
      container-image: debian:trixie
