name: Linux Debian/Ubuntu Matrix

on:
  push:
    paths-ignore:
    - scripts/docker/**
    branches:
    - master
  pull_request:
    paths-ignore:
    - scripts/docker/**
    branches:
    - master
  workflow_dispatch:

jobs:
  qt5-builds:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Ubuntu 20.04 / Qt 5"
            container: ubuntu:20.04
          - name: "Ubuntu 22.04 / Qt 5"
            container: ubuntu:22.04
          - name: "Ubuntu 24.04 / Qt 5"
            container: ubuntu:24.04
          - name: "Debian bookworm / Qt 5"
            container: debian:bookworm

    name: ${{ matrix.name }}
    uses: ./.github/workflows/linux-debian-generic.yml
    with:
      container-image: ${{ matrix.container }}

  qt6-builds:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Ubuntu 25.10 / Qt 6"
            container: ubuntu:25.10
          - name: "Ubuntu 25.10 / Qt 6 / ARM64"
            container: ubuntu:25.10
            runner: ubuntu-24.04-arm
            arch: arm64
          - name: "Debian trixie / Qt 6"
            container: debian:trixie

    name: ${{ matrix.name }}
    uses: ./.github/workflows/linux-debian-generic-qt6.yml
    with:
      container-image: ${{ matrix.container }}
      runner: ${{ matrix.runner || 'ubuntu-latest' }}
      arch: ${{ matrix.arch || 'x86-64' }}
