name: Mac

on:
  push:
    paths-ignore:
    - scripts/docker/**
    branches:
    - master
  pull_request:
    paths-ignore:
    - scripts/docker/**
    branches:
    - master
  workflow_dispatch:

jobs:
  build-documentation:
    uses: ./.github/workflows/documentation-build.yml

  build:
    needs: build-documentation
    strategy:
      matrix:
        include:
          - arch: arm64
            runner: macos-15
            qtversion: 6.8.3
            brewpackages: 'libtool'
          - arch: x86_64
            runner: macos-15-intel
            qtversion: 6.8.3
            brewpackages:
          - arch: x86_64
            runner: macos-13
            qtversion: 5
            brewpackages: 'libjpg'
    runs-on: ${{ matrix.runner }}
    steps:
    - name: checkout sources
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Cache Homebrew packages
      id: cache-homebrew
      uses: actions/cache@v4
      with:
        path: ~/Library/Caches/Homebrew
        key: brew-${{ runner.os }}-${{ hashFiles('.github/workflows/mac.yml') }}

    - name: install additional packages with Homebrew
      if: steps.cache-homebrew.outputs.cache-hit != 'true'
      run: |
        brew install create-dmg confuse automake ${{ matrix.brewpackages }}

    - name: checkout Qt resources
      if: ${{ matrix.qtversion != 5 }}
      uses: jurplel/install-qt-action@v4
      with:
        version: ${{ matrix.qtversion }}
        host: 'mac'
        target: 'desktop'
        modules: 'qtlocation qtpositioning qtconnectivity qt5compat'
        cache: true

    - name: checkout our packaged Qt resources
      if: ${{ matrix.qtversion == 5 }}
      uses: actions/checkout@v6
      with:
        repository: subsurface/qt-mac
        ref: main
        path: qt-mac

    - name: load the documentation from cache
      id: load-cache
      uses: actions/cache@v4
      with:
        path: Documentation/output
        key: documentation-${{ hashFiles('Documentation') }}
        enableCrossOsArchive: true
        fail-on-cache-miss: true

    - name: set the version information
      id: version_number
      uses: ./.github/actions/manage-version
      with:
        nightly-builds-secret: ${{ secrets.NIGHTLY_BUILDS }}

    - name: get install-root absolute path
      id: get-install-root
      run: |
        echo "path=$(cd ${GITHUB_WORKSPACE}/..; pwd)/install-root" >> $GITHUB_OUTPUT

    - name: cache deps
      id: cache-deps
      uses: actions/cache@v4
      with:
        path: ${{ steps.get-install-root.outputs.path }}
        key: macos-deps-${{ runner.arch }}-${{ hashFiles('scripts/build-deps.sh', 'scripts/get-dep-lib.sh') }}
        restore-keys: macos-deps-${{ runner.arch }}-

    - name: build deps
      id: build-deps
      if: steps.cache-deps.outputs.cache-hit != 'true'
      run: |
        BUILD_EXTRA_ARGS=""
        if [ "${GITHUB_EVENT_NAME}" = "push" ]; then
          echo "Building a release version"
          BUILD_EXTRA_ARGS="${BUILD_EXTRA_ARGS} -release"
        fi

        cd ${GITHUB_WORKSPACE}/..
        # set up the paths for Qt
        if [ ${{ matrix.qtversion }} = '5' ]; then
          export QT_ROOT=${GITHUB_WORKSPACE}/qt-mac/Qt5.15.16
        else
          export QT_ROOT=$(pwd)/Qt/${{ matrix.qtversion }}/macos
        fi
        export QT_QPA_PLATFORM_PLUGIN_PATH=$QT_ROOT/plugins
        export PATH=$QT_ROOT/bin:$PATH
        export CMAKE_PREFIX_PATH=$QT_ROOT/lib/cmake
        export ACLOCAL_FLAGS="-I $(brew --prefix gettext)/share/aclocal"
        # ensure that only our packages are used, not anything from Homebrew
        export PKG_CONFIG_LIBDIR=$(pwd)/install-root/lib/pkgconfig

        # now setup Subsurface and build the dependencies, using the generic build script
        bash -e -x ./subsurface/scripts/build.sh -build-deps-only -ftdi ${BUILD_EXTRA_ARGS}

    - name: build Subsurface
      id: build
      run: |
        BUILD_EXTRA_ARGS=""
        if [ "${GITHUB_EVENT_NAME}" = "push" ]; then
          echo "Building a release version"
          BUILD_EXTRA_ARGS="${BUILD_EXTRA_ARGS} -release"
        fi

        cd ${GITHUB_WORKSPACE}/..
        # set up the paths for Qt
        if [ ${{ matrix.qtversion }} = '5' ]; then
          export QT_ROOT=${GITHUB_WORKSPACE}/qt-mac/Qt5.15.16
        else
          export QT_ROOT=$(pwd)/Qt/${{ matrix.qtversion }}/macos
        fi
        export QT_QPA_PLATFORM_PLUGIN_PATH=$QT_ROOT/plugins
        export PATH=$QT_ROOT/bin:$PATH
        export CMAKE_PREFIX_PATH=$QT_ROOT/lib/cmake
        export ACLOCAL_FLAGS="-I $(brew --prefix gettext)/share/aclocal"
        # ensure that only our packages are used, not anything from Homebrew
        export PKG_CONFIG_LIBDIR=$(pwd)/install-root/lib/pkgconfig

        # now setup the Subsurface build using the generic build script
        if [ ${{ matrix.qtversion }} = '5' ]; then
          bash -e -x ./subsurface/scripts/build.sh -desktop -build-with-webkit -ftdi -make-package -install-docs ${BUILD_EXTRA_ARGS}
        else
          bash -e -x ./subsurface/scripts/build.sh -desktop -build-with-qt6 -ftdi -make-package ${BUILD_EXTRA_ARGS}
        fi
        REG_IMG=$(grep ^created: mp.log | tail -1 | cut -b10-)
        [ "${{ runner.arch }}" = "X64" ] && CUR_ARCH="x86_64"
        [ "${{ runner.arch }}" = "ARM64" ] && CUR_ARCH="arm64"
        if [ ${{ matrix.qtversion }} = '5' ]; then
          IMG="$REG_IMG"
        else
          IMG="${REG_IMG/Subsurface-/Subsurface-${CUR_ARCH}-qt6-}"
          mv "$REG_IMG" "$IMG"
        fi
        echo "Created $IMG"
        echo "dmg=$IMG" >> $GITHUB_OUTPUT

    - name: publish pull request artifacts
      if: github.event_name == 'pull_request'
      uses: actions/upload-artifact@v5
      with:
        name: Subsurface-MacOS-${{ matrix.arch }}-qt-${{ matrix.qtversion }}-${{ steps.version_number.outputs.version }}
        path: ${{ steps.build.outputs.dmg }}
        compression-level: 0

    # only publish a 'release' on push events (those include merging a PR)
    - name: upload binaries
      if: github.event_name == 'push'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v${{ steps.version_number.outputs.version }}
        repository: ${{ github.repository_owner }}/nightly-builds
        token: ${{ secrets.NIGHTLY_BUILDS }}
        prerelease: false
        fail_on_unmatched_files: true
        files: ${{ steps.build.outputs.dmg }}
